<html>
	 <head>
	  <tittle>Result</title>
	  </head>
	 <body> 	 
		 <p>  {{ . }} </p>
	 	<form action="/login" method="Post">
	 	<input type="text" name="n1" id="n1">
	 	<input type="number" name="n2" id="n1">
	 	<input type="submit" value="Login">
	 	</form>
	</body> 
<html>