<html>
	 <head>
	  <tittle>Result</title>
	 <body> 
		 {{range .}}
	 <p> hello {{ .Name }} your rollno. is {{ .Rollno }} and you got {{ .Marks }} marks</p>
{{end}}

<p>{{grade .}}</p>
	 </body> 
	 </head>
	 <html>